<section id="footer" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white">
                <p>Trademark Camptastic &copy;2019</p>
            </div>
            </hr>
        </div>	
    </div>
</section>
</body>

</html>