<% include partials/header %>
<h1>Create a New Campground</h1>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" id="" placeholder="name">
    <input type="text" name="image" id="">
</form>
<% include partials/footer %>