<% include partials/header %>

<h1 class="text-center"><%= campground.name %></h1>
<div class="container text-center">
    <img src="<%= campground.image %>" class="img-responsive show-page center-block" alt="">
    <h3>Lokasi: <%= campground.city %></h3>
    <p><%= campground.description %></p>
</div>

<% include partials/footer %>