/* @media (min-width:800px){
    img {
        object-fit: fill!important;
        height: 175px!important;
        width: 100%!important;
    }
} */

.navbar .navbar-brand img {
    max-height: 40px;
    max-width: 100px;
  }

.navbar a.navbar-brand {
    box-sizing: border-box;
    padding: 5px 15px;
}

.form-new {
    width: 30%;
    margin: 25px auto;
}

textarea {
    resize: vertical;
}

img.show-page {
    max-height: 300px;
}